<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunnar.core.common.test.dao.PlaceDao">
    <resultMap id="result_map" type="com.yunnar.core.common.test.model.Place">
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="title_en" property="titleEn" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="column_list">
        title,title_en
    </sql>

    <select id="getByTitleEn" resultMap="result_map" parameterType="java.lang.String">
        select
        <include refid="column_list"/>
        from table0
        where title_en = #{titleEn}
    </select>

</mapper>