<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunnar.core.trans.dao.impl.TransFlightDaoImpl">
    <resultMap id="result_map" type="com.yunnar.core.trans.model.TransFlight">
        <id column="FlightId" property="flightId" jdbcType="BIGINT"/>
        <result column="TransType" property="transType" jdbcType="VARCHAR"/>
        <result column="Pol" property="pol" jdbcType="VARCHAR"/>
        <result column="Pod" property="pol" jdbcType="VARCHAR"/>
        <result column="TransTimeDay" property="transTimeDay" jdbcType="INTEGER"/>
        <result column="TransTimeHour" property="transTimeHour" jdbcType="INTEGER"/>
        <result column="EndDate" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="FlightNo" property="flightNo" jdbcType="VARCHAR"/>
        <result column="EffectiveDay" property="effectiveDay" jdbcType="INTEGER"/>
        <result column="EffectiveDate" property="effectiveDate" jdbcType="TIMESTAMP"/>
        <result column="PubCarrierId" property="pubCarrierId" jdbcType="BIGINT"/>
        <result column="CarryCapacity" property="carryCapacity" jdbcType="VARCHAR"/>
        <result column="TransUnit" property="transUnit" jdbcType="BIGINT"/>
        <result column="PublishTime" property="publishTime" jdbcType="TIMESTAMP"/>
        <result column="MemberId" property="memberId" jdbcType="BIGINT"/>
        <result column="AuditFlag" property="auditFlag" jdbcType="VARCHAR"/>
        <result column="RecommendFlag" property="recommendFlag" jdbcType="VARCHAR"/>
        <result column="VipFlag" property="vipFlag" jdbcType="VARCHAR"/>
        <result column="PreferentialFlag" property="preferentialFlag" jdbcType="VARCHAR"/>
        <result column="isForeign" property="isForeign" jdbcType="VARCHAR"/>
        <result column="RecommendTodayDate" property="recommendTodayDate" jdbcType="TIMESTAMP"/>
        <result column="ScheduleMonday" property="scheduleMonday" jdbcType="VARCHAR"/>
        <result column="ScheduleTuesday" property="scheduleTuesday" jdbcType="VARCHAR"/>
        <result column="ScheduleWednesday" property="scheduleWednesday" jdbcType="VARCHAR"/>
        <result column="ScheduleThursday" property="scheduleThursday" jdbcType="VARCHAR"/>
        <result column="ScheduleFriday" property="scheduleFriday" jdbcType="VARCHAR"/>
        <result column="ScheduleSaturday" property="scheduleSaturday" jdbcType="VARCHAR"/>
        <result column="ScheduleSunday" property="scheduleSunday" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="column_list">
        FlightId,TransType,Pol,Pod,TransTimeDay,TransTimeHour,EndDate,FlightNo,EffectiveDay
        ,EffectiveDate,PubCarrierId,CarryCapacity,TransUnit,PublishTime,MemberId,AuditFlag
        ,RecommendFlag,VipFlag,PreferentialFlag,isForeign,RecommendTodayDate,ScheduleMonday
        ,ScheduleTuesday,ScheduleWednesday,ScheduleThursday,ScheduleFriday,ScheduleSaturday,ScheduleSunday
    </sql>
    <select id="getListByUid" parameterType="java.lang.Long" resultMap="result_map">
        select
        <include refid="column_list"/>
        from trans_flight
        where MemberId = #{memberId}
    </select>


</mapper>